a:hover,
a:focus{color:#66cc33;}
.color{color:#66cc33;}
.bg-color{background:#66cc33;}
.color2{color:#ffcc00;}
.bg-color2{background:#ffcc00;}
.wishlist-button a:hover{background:#66cc33;}
.popup-icon{color:#66cc33;}
body .scroll-top{background:#66cc33;}
.preload #loading{background-color:#66cc33;}
.dropdown-list li a:hover,
.language-list li a:hover,
.list-profile li a:hover,
.currency-list li a:hover{background:#66cc33;color:#fff;}
.shop-button:hover{background:#ffcc00;}
.shop-button{background:#66cc33;}
.main-nav > ul > li:hover > a{color:#66cc33;}
.search-form::after{color:#66cc33;}
.main-nav.main-nav1 > ul > li.current-menu-item > a{background:#66cc33;}
.main-nav.main-nav3 > ul > li.current-menu-item > a{border:1px solid #66cc33;color:#66cc33;}
.percent-sale{background:#ffcc00;}
.owl-theme .owl-controls .owl-buttons div:hover{background:#66cc33;border-color:#66cc33;}
.banner-slider .owl-theme .owl-controls .owl-buttons div:hover{background:#66cc33;}
.btn-arrow.white:hover{border-color:#66cc33;background:#66cc33;}
.item-service1 .service-icon a{color:#66cc33;border:1px dashed #66cc33;}
.item-service1 .service-icon a::before{border:1px dashed #66cc33;}
.product-thumb > .quickview-link,
.gal-content3 .btn-gal{background:#66cc33;}
.product-title a:hover{color:#66cc33;}
.product-extra-link .addcart-link{background:#66cc33;}
.product-extra-link a:hover{color:#66cc33;border-color:#66cc33;}
.title-tab1 li.active a{background:#66cc33;border-color:#66cc33;}
.deal-timer{border:2px solid #66cc33;color:#66cc33;}
a.post-cat{background:#66cc33;}
a.post-cat:hover{background:#ffcc00;}
.btn-arrow.color{border:2px solid #66cc33;}
.btn-arrow.color:hover{background:#66cc33;}
.diet-thumb a{border:1px dashed #66cc33;}
.diet-thumb a::after{background:#66cc33;}
.list-diet .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#66cc33;}
.client-thumb a{border:1px solid #66cc33;}

.product-extra-link .addcart-link:hover{background:#ffcc00;}
.product-thumb > .quickview-link:hover,
.gal-content3 .btn-gal:hover{background:#ffcc00;}
.btn-arrow.style2::after{background:#66cc33;}
.line-space::before,
.line-space::after{border-top:1px dashed #66cc33;}
.btn-viewall.color::before{background:#66cc33;}
.btn-viewall.color:hover::before{background:#ffcc00;}
.btn-viewall.color:hover{color:#ffcc00;}
.cat-menu2 li a:hover span{background:#66cc33;border-color:#66cc33;}
.title-tab-icon li a{border:1px dashed #66cc33;}
.title-tab-icon li.active a,
.title-tab-icon li a:hover{background:#66cc33;}
.days-countdown .time_circles > div .text{color:#66cc33;}
.days-countdown .time_circles > div .text::before{background:#66cc33;}
.item-client2 .desc::before{background:#66cc33;}
.item-client2 .client-thumb a img{border:1px dashed #66cc33;}
.item-farm .farm-info{border-left:10px solid #66cc33;}
.item-farm .top-social a{color:#66cc33;}
.email-form2 input[type="submit"]{background:#66cc33;}
.email-form2 input[type="submit"]:hover{background:#ffcc00;}
.item-farm .top-social a:hover{border-color:#66cc33;}
.email-form2::before{color:#66cc33;}
.bg-color.top-header2{background:#66cc33;}
.bg-color .currency-language > li > div > a:hover,
.bg-color .info-account > li > a:hover{color:#ffcc00;}
.search-form.search-form3::after{color:#ffcc00;}
.btn-arrow.style2.color2::after{background:#ffcc00;}
.btn-arrow.style2.color2{border:2px solid #ffcc00;}
.btn-arrow.style2.color2:hover{background:#66cc33;border-color:#66cc33;}
.banner-slider3 .owl-theme .owl-controls .owl-page.active span{background:#ffcc00;}
.item-service1 .service-icon a.color2{border-color:#ffcc00;color:#ffcc00;}
.item-service1 .service-icon a.color2:hover{background:#66cc33;border-color:#66cc33;}
.product-tab3 .title-tab1 li::after{background:#ffcc00;}
.rotate-number.style1{border:1px solid #66cc33;color:#66cc33;}
.rotate-number.style2{background:#ffcc00;border:1px dashed #66cc33;}
.rotate-number.style3{background:#66cc33;}
.item-popcat3:hover .popcat-info3{background:#ffcc00;}
.item-popcat3:hover .btn-arrow.style2.color2{color:#66cc33;border-color:#66cc33;}
.item-popcat3:hover .btn-arrow.style2.color2::after{background:#66cc33;}
.policy-payment3{border-top:1px solid #66cc33;}
.main-header.bg-color2{background:#ffcc00;}
.box-google-map .map-custom::before{background:rgba(102, 204, 51, 0.5);}
.menu-footer li::before{background:#66cc33;}
.btn-arrow.style2.bg-color{background:#66cc33;}
.btn-arrow.style2.bg-color2{background:#ffcc00;}
.btn-arrow.style2.bg-color:hover{background:#ffcc00;}
.btn-arrow.style2.bg-color2:hover{background:#66cc33;}
.top-header5{border-top:5px solid #66cc33;}
.main-nav.main-nav5 > ul > li.current-menu-item > a{color:#66cc33;}
.wg-list-tabs li a:hover{background:#66cc33;}
.range-filter .slider-range{background:#66cc33;}
.range-filter .ui-slider-handle.ui-state-default.ui-corner-all{border:2px solid #66cc33;}
.view-bar a.active{background-color:#66cc33;border-color:#66cc33;}
.pagibar > a:hover,
.pagibar > a.current-page{background-color:#66cc33;border-color:#66cc33;}
.blockquote p::before{color:#66cc33;}
.decate-info{border-color:#66cc33;}
.item-about-client .title18::before{background:#66cc33;}
.about-client-slider .owl-pagination .owl-page span{border:1px solid #66cc33;}
.about-client-slider .owl-pagination .owl-page.active span{background-color:#66cc33;}
.farm-slider.banner-slider .owl-theme .owl-controls .owl-buttons div:hover{background-color:#66cc33;border-color:#66cc33;}
@media (max-width:767px){.main-nav > ul > li:hover > a{color:#66cc33 !important;}
  .main-nav .toggle-mobile-menu span,
  .main-nav .toggle-mobile-menu::before,
  .main-nav .toggle-mobile-menu::after{background:#66cc33;}
}